body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #141e30, #243b55);
  color: white;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

h1 {
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.4);
}

.buttons {
  margin-bottom: 30px;
}

button {
  padding: 20px 30px;
  margin: 10px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.resultBox {
  font-size: 20px;
}

#result {
  margin-top: 20px;
  font-size: 24px;
}
.aya:hover {
  background-color: red;
  transform: scale(1.1);
}
.ara:hover {
  background-color: orangered;
  transform: scale(1, 1);
}
.ata:hover {
  background-color: yellow;
  transform: scale(1.1);
}
